nav ul li:hover {
    background: deepskyblue;
}

.active {
    background-color: deepskyblue;
}




aside {
    background-color:#CEF6F5;
    border-color:deepskyblue;
}

aside ol li a {
    color: darkblue;
}




h1 {
    background-color: #CEF6F5;
    color:darkblue;
}

h3{
    background-color:deepskyblue;
    color: white;
}