/*-- MENU HORIZONTAL --*/
header {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
}

nav {
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: left;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;

}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li:hover {
    background: deepskyblue;
}

.active {
    background-color: deepskyblue;
}





/*--  MENU VERTICAL  --*/

aside {
    margin-top: 60px;
    margin-bottom: 2500px;
    width: 12%;
    margin-left: 9%;
    float: left;
    line-height: 1.6;
    background-color:#CEF6F5;
    position: fixed;
    font-family: serif;
    border-left-style: solid;
    border-color:deepskyblue;
    font-family: 'Raleway', sans-serif;
}

aside ol li a {
    text-decoration: none;
    color: darkblue;
}




/*--  CONTENIDO  --*/
div.pagina {
    width: 50%;
    margin:auto;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 0 7px ;
    background-color:;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 24px;
   font-weight:450; 
    background-color: #CEF6F5;
    color:#0101DF;
}

h3{
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    background-color:deepskyblue;
    text-align: center;
    color: white;
}

p {
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
}






/*
footer {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
*/

