/*-- MENU HORIZONTAL --*/
header {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
}

nav {
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: left;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;

}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}






/*--  MENU VERTICAL  --*/

aside {
    margin-top: 60px;
    margin-bottom: 2500px;
    width: 12%;
    margin-left: 9%;
    float: left;
    line-height: 1.6;
  
    position: fixed;
    font-family: serif;
    border-left-style: solid;

    font-family: 'Raleway', sans-serif;
}

aside ol li a {
    text-decoration: none;

}




/*--  CONTENIDO  --*/
div.pagina {
    width: 50%;
    margin:auto;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 0 5px ;
}

h1 {
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 24px;
   font-weight:450;   
}

h3{
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    color:white;
    text-align: center;

}

p {
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    line-height: 125%;
}

li{
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif; 
    line-height: 150%;
}
