nav ul li:hover {
    background-color: #AD1457;
}

.active {
    background-color: #AD1457;
}




aside {
    background-color:#F48FB1;
    border-color:#AD1457;
}

aside ol li a {
    color: #AD1457;
}




h1 {
    background-color:#F48FB1;
    color:#AD1457;
}

h3{
    background-color:#AD1457;
    color: white;
}
